# <b>Code made by : Pradipta sarkar

### <b>1 ) If the file is a large JSON data then divide the file as per acceptibility by the system using - 

    split -l <line number> <json-file-name> 
  
    and divide large JSON data into number of chunks.

### <b>Library Declaration

In [5]:
import pandas as pd

### <b>User defined function

In [1]:
def float_range(start, stop, step):
    e=[]
    while stop >= start:
        e.append(float("{0:.1f}".format(start)))
        start += step       
    return e

In [2]:
def str_split(x):
    return x.split('-')

In [3]:
def BMI_Health(x):
    if x in float_range(1.0,18.4,0.1):
        return("Under Weight-Malnutrition Risk")
    elif x in float_range(18.5,24.9,0.1):
        return("Normal Weight-Low Risk")
    elif x in float_range(25.01,29.9,0.1):
        return("Over Weight-Enhanced Risk")
    elif x in float_range(30.01,34.9,0.1):
        return("Moderately Obese-Medium Risk")
    elif x in float_range(35.01,39.9,0.1):
        return("Severely Obese-High risk")
    elif x>=40:
        return("Very severely obese-Very high risk")
    else:
        return("Wrong Input-Wrong Input")

### <b>2) Processing of each JSON's chunk using iteration and save each chunk output in temporary file using "Pickle"

In [6]:
df=pd.read_json("test.json")

In [7]:
df

   Gender  HeightCm  WeightKg
0    Male       171        96
1    Male       161        85
2    Male       180        77
3  Female       166        62
4  Female       150        70
5  Female       167        82

In [8]:
df['BMI']=round(df['WeightKg']/(pow(df['HeightCm']/100,2)),1)

In [9]:
df

   Gender  HeightCm  WeightKg   BMI
0    Male       171        96  32.8
1    Male       161        85  32.8
2    Male       180        77  23.8
3  Female       166        62  22.5
4  Female       150        70  31.1
5  Female       167        82  29.4

In [11]:
op=[BMI_Health(x) for x in df['BMI']]
ts=pd.Series(op).apply(str_split).tolist()

df['BMI Category']=[ts[x][0] for x in range(0,len(ts))]
df['Health Risk']=[ts[x][1] for x in range(0,len(ts))]

In [12]:
df

   Gender  HeightCm  WeightKg   BMI      BMI Category    Health Risk
0    Male       171        96  32.8  Moderately Obese    Medium Risk
1    Male       161        85  32.8  Moderately Obese    Medium Risk
2    Male       180        77  23.8     Normal Weight       Low Risk
3  Female       166        62  22.5     Normal Weight       Low Risk
4  Female       150        70  31.1  Moderately Obese    Medium Risk
5  Female       167        82  29.4       Over Weight  Enhanced Risk

<b> No of Over-weight people in the Record

In [23]:
print("No of Over Weight people in the record : ",sum(df["BMI Category"]=="Over Weight"))

No of Over Weight people in the record :  1

### <b> Save dataframe to pickle

In [24]:
df.to_pickle("op1.pkl")

### <b> 3) Concatenate multiple pickle file into single dataframe

tpf1 = pd.read_pickle("op1.pkl")<br/>
tpf2 = pd.read_pickle("op2.pkl")<br/>
tpf3 = pd.read_pickle("op3.pkl")<br/>

df_all = pd.concat([tpf1,tpf2,tpf3])

### <b>4) Convert resultant data frame into JSON file and save it as final output file

In [26]:
df_json = df.to_json(orient='values', date_format='iso', date_unit='s')

In [27]:
with open('op_data.json', 'w') as js_file:
    js_file.write(df_json)